<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrap">
      <div class="footer__row" data-spoilers="980,max">
        <div class="footer__col">
          <h3 class="footer__heading" data-spoiler>Heading 1</h3>

          <div class="footer__nav">
            <ul class="footer__menu">
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
              <li>
                <a href="#">Link 4</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__col">
          <h3 class="footer__heading" data-spoiler>Heading 2</h3>

          <div class="footer__nav">
            <ul class="footer__menu">
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
              <li>
                <a href="#">Link 4</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__col">
          <h3 class="footer__heading" data-spoiler>Heading 3</h3>

          <div class="footer__nav">
            <ul class="footer__menu">
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
              <li>
                <a href="#">Link 4</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__col">
          <h3 class="footer__heading" data-spoiler>Heading 4</h3>

          <div class="footer__nav">
            <ul class="footer__menu">
              <li>
                <a href="#">Link 1</a>
              </li>
              <li>
                <a href="#">Link 2</a>
              </li>
              <li>
                <a href="#">Link 3</a>
              </li>
              <li>
                <a href="#">Link 4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
