// ========== TOGGLE ========== //
.toggle {
  overflow: hidden;
  text-align: left;

  &._active {
    .toggle__btn {
      color: $color-primary;
    }

    .toggle__plus {
      &::after {
        border-color: $color-primary;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    .toggle__content {
      padding: rem(20);
    }
  }

  &__content {
    box-sizing: content-box;
    overflow: hidden;
    max-height: 0;
    padding: 0 rem(20);
    transition: $transition-primary;

    > *:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__btn {
    position: relative;
    outline: none;
    border: rem(1) solid $color-primary;
    width: 100%;
    padding: rem(15) rem(50) rem(15) rem(15);
    background: none;
    font-size: rem(22);
    text-align: left;
    cursor: pointer;
    user-select: none;
    transition: $transition-primary;

    @include hover {
      color: $color-primary;

      .toggle__plus {
        &::after {
          border-color: $color-primary;
        }
      }
    }

    &:focus,
    &:active {
      color: $color-primary;

      .toggle__plus {
        &::after {
          border-color: $color-primary;
        }
      }
    }
  }

  &__plus {
    position: absolute;
    right: 0;
    top: 0;
    width: rem(54);
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border: solid currentcolor;
      border-width: 0 rem(2) rem(2) 0;
      padding: rem(4);
      transform: translate(-50%, -50%) rotate(45deg);
      transition: $transition-primary;
    }
  }
}
